body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #22668A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-custom {
  background-color: #22668A !important;
  color: white;
  border: none;
}

.bg-custom:hover {
  background-color: #1f5a78 !important;
}

.category-aktif {
  background-color: #22668A !important;
  color: white !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;